.tab {margin-left: 40px;}

.csit{margin-left: 80px;}

.down{margin-top: 100px;
      margin-left: 40px;}

.dow{margin-top: 40px;
      margin-left: 40px;}
.dow2{margin-top: 70px;
      margin-left: 40px;}


.spis{margin-left: 80px;
    line-height: 30px}

.content{margin-left: 40px;
         margin-top: 80px;}
.osnovanie{margin-left: 40px;
           margin-top: 150px}

.hu{float: left;
    padding-right: 10px;}
.hu1{float: left;
      margin-left: 40px;
      margin-top: 60px;} 
.hu2{float: left;
    padding-right: 5px;
    margin-left: 40px;
    margin-top: 60px;}

.text_left_img{margin-left: 40px;}
.text_left_img2{margin-left: 40px;
               margin-top: 10px;}
.fig{margin-top: 60px;}
.fig2{margin-left: 40px;}

.FF{margin-left: 40px;}

.table{width: 50%;
      margin-bottom: 30px;
      border: 1px solid #dddddd;
      border-collapse: collapse;
      margin-left: 40px;}
.table th{padding: 5px;
          background: #efefef;
          border: 1px solid #dddddd;
}
.table td{border: 1px solid #dddddd;
          padding: 5px;
          text-align: center;}