// Переменные
$animation: .5s all ease;
    //Цвета
$color_black: #000000;
$color_black-15: #151515; 
$color_black-22: #222222;
$color_gray-51: #515151;
$color_gray-8f: #8F8F8F;
$color_gray-8D: #8D8D8D;

$color_violet-F2: #3726F2;
$color_blue-E1: #1434E1;

$color_white: #FFF;
