// Шрифты
@font-face {
    font-family: Monserat;
    src: url(../font/Monserat/Montserrat-VariableFont_wght.ttf);
}

// Переменные:

// Цвета
$color_blue-019: #0193DE;
$color_gray_lite_interf: #ABA9AA;
$color_gray_dark_text: #615D5C;
$color_blue-409: linear-gradient(180deg, #409FFF, #007FFF);
$color_header-bg:#FAFAFA;
$color_blue-2040: #002040;
$color_white-f5:#F5F5F5;
$color_input: #F2F2F2;
$color_blue-007: #007FFF;
$color_blue-9ff: #F2F9FF;;


// Шрифт
$font_family-Monserat: Monserat;

// Анимации
$animation:all .3s ease;

// Кнопки
.button{
    font-family: $font_family-Monserat;
    font-size: 18px;
    font-weight: 400px;
    color: $color_gray_dark_text;
    border: 1px solid $color_gray_lite_interf;
    border-radius: 30px;
    background-color: white;
    padding: 30px 60px;
}

.button_primary{
    font-family: $font_family-Monserat;
    font-size: 18px;
    font-weight: 400px;
    color: white;
    border: 1px solid $color_gray_lite_interf;
    border-radius: 30px;
    background: $color_blue-409;
    padding: 30px 60px;
    box-shadow: 0px 10px 10px rgba(0, 32, 64, 0.1), inset 0px 2px 0px rgba(255, 255, 255, 0.25), inset 0px -2px 0px rgba(0, 32, 64, 0.1);
    transform: $animation;
}

.block_title{
    margin:  0 auto;
    padding-bottom: 20px;
    font-family: $font_family-Monserat;
    color: $color_blue-2040;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: -0.025em;
    border-bottom: 2px solid $color_blue-019;
    text-align: center;
    max-width: 620px;
}