.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(38, 50, 56, 0.16), 0px 4px 8px rgba(38, 50, 56, 0.08);
    padding: 16px 130px;
    .header-logo{
        display: flex;
        align-items: center;
        .header-logo-img{
            display: block;
        }
        .header-burger-menu{
            display: none;
        }
        .header-logo-title{
            font-size: 48px;
            font-family: var(--font-family-b);
        }
    }
    .header-nav{
        display: flex;
        align-items: center;
        .header-link{
            color: var(--color-purple-dark);
            font-size: 18px;
            font-family: var(--font-family-r);
            transition: color var(--animation);
            &:hover, &:focus{
                color: var(--color-purple-light);
            }
        }
        .header-link-active{
            font-family: var(--font-family-b);
            color: var(--color-black);
        }
        .header-link-point{
            background-color: var(--color-yellow-dark);
            width: 9px;
            height: 9px;
            border-radius: 50%;
            margin: 0 16px;
        }
    }
    .header-button{
        width: 170px;
        height: 64px;
    }
}

@media(max-width:1200px){
    .header{
        padding: 16px 5px;

    }
}
@media(max-width:950px){
    .header{
        .header-logo{
            .header-logo-img{
                display: none;
            }
            .header-burger-menu{
                display: initial;
            }
            .header-logo-title{
                font-size: 24px;
                color: var(--color-gray-64);
            }
        }
        .header-nav{
            display: none;
        }
        .header-button{
            width: 124px;
            height: 40px;
            border-radius: 8px;
            font-size: 18px;
            font-family: var(--font-family-m);
        }
    }
}