.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    .main-background-dots1, .main-background-rectangle{
        position: absolute;
        top: 0;
        right: 0;
        z-index: -2;
    }
    .main-background-wave{
        background: url("../img/background/mobile_wave.svg") repeat-x;
        width: 100%;
        height: 450px;
        opacity: 0.4;
        position: absolute;
        z-index: -3;
        display: none;
    }
    .main-background-rectangle{
        opacity: 0.4;
    }
    .main-background-dots1{
        top: 18px;
    }
    .main-text{
        padding-top: 80px;
        padding-bottom: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
    .main-text-title, .main-text-subtitle{
        color: var(--color-black);
        font-family: var(--font-family-b);
    }
    .main-text-title{
        font-size: 96px;
        .main-text-fine{
            color: var(--color-red-dark);
            position: relative;
            text-shadow: 0px 4px 0px var(--color-white);
            &:after{
                left: -5%;
                bottom: 0;
                content: "";
                position: absolute;
                display: block;
                width: 110%;
                height: 51px;
                border-radius: 999px;
                z-index: -1;
                background-color: var(--color-green-light);
            }
        }
    }
    .main-text-subtitle{
        font-size: 64px;
    }
    }
    .main-arrow-down{
        width: 64px;
        height: 64px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, .24);
        align-items: center;
        justify-content: center;
        display: none;
        img{
            animation: arrowDown 3s ease .5s infinite;
        }
    }
.main-grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 30px;
    width: 70%;
    & img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
    }
    .main-grid-text1, .main-grid-text2{
        font-family: var(--font-family-r);
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        color: var(--color-black);
    } 
    .main-grid-text1{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    .main-grid-text2{
        grid-column: 4 / 6;
        grid-row: 1 / 2;
    }
    .main-grid-image1{
        grid-column: 1 / 2;
        grid-row: 2 / 4;
    }
    .main-grid-image2{
        grid-column: 2 / 4;
        grid-row: 1 / 3;
    }
    .main-grid-image3{
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }
    .main-grid-image4{
        grid-column: 3 / 5;
        grid-row: 3 / 4;
    }
    .main-grid-image5{
        grid-column: 4 / 5;
        grid-row: 2 / 3;
    }
    .main-grid-image6{
        grid-column: 5 / 6;
        grid-row: 2 / 3;   
    }
    .main-grid-image7{
        grid-column: 5 / 6;
        grid-row: 3 / 4;
    }

}
    .main-button{
        margin-top: 40px;
        width: 270px;
        height: 82px;
}
}

@keyframes arrowDown{
    0%{
        transform: translateY(0);
    }
    5%{
        transform: translateY(-10px);
    }
    10%{
        transform: translateY(15px);
    }
    15%{
        transform: translateY(-5px);
    }
    20%{
        transform: translateY(0);
    }
}

@media(max-width: 1100px){
    .main{
        .main-background-rectangle{
            width: 70vw;
        }
        .main-background-dots1{
            width: 25vw;
        }
        .main-text{
            .main-text-title{
                font-size: 8vw;
                .main-text-fine{
                &:after{
                    height: 47%;
                }
            }
            }
            .main-text-subtitle{
                font-size: 5vw;
            }
        }
        .main-grid{
            width: 95vw;
            gap: 3vw;
        }
    }
}

@media(max-width:950px){
    .main{
        .main-button{
            width: 200px;
            height: 52px;
        }
    }
}

@media(max-width: 500px){
    .main{
        .main-background-wave{
            display: initial;
        }
        .main-text{
            padding-bottom: 24px;
            .main-text-title{
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 15vw;
                span{
                    font-family: var(--font-family-m);
                    font-size: 11vw;
                }
            }
            .main-text-subtitle{
                margin-top: 16px;
                font-size: 5vw;
                font-family: var(--font-family-m);
            }
        }
        .main-button{
            width: 137px;
            height: 37px;
            font-size: 14px;
        }
        .main-arrow-down{
            display: flex;
        }
        .main-grid{
            margin-top: 24px;
            width: 120vw;
            gap: 3vw;
            .main-grid-text1, .main-grid-text2{
                display: none;
            }
        }
    }
}